{% extends "base/site-admin.html" %}
{% load custom_filters %}

{% block page_title %}Antenna Q &amp; A{%endblock%}

{% block bodyClass %}admin{% endblock %}

{% block sidebarContent %}
    {% with group=form.instance %}
    {% with "embed_qa" as activeAdminTab %}
    {% with "desktop" as whichGroupList %}
    {% include "admin_nav_tabs.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endblock %}

<!--
{
    "autoQuestionsInsertMethod": "after",
    "autoQuestionsSelector": ".product_section",
    "categories": [
        {
            "categoryValues": "Bia Boxing*",
            "id": "4f758356-16ef-11e6-a388-02420a44021d",
            "questions": [
                {
                    "answers": "Snug and secure; No float; Like butter; Room for improvement",
                    "id": "3064f69a-189d-11e6-816d-02420a44060e",
                    "sharedReactions": true,
                    "text": "How's the feel?"
                },
                {
                    "answers": "Supports every shot; Increased my accuracy; Hands are faster; Needs more adjustments",
                    "id": "3064fa78-189d-11e6-816d-02420a44060e",
                    "sharedReactions": true,
                    "text": "How does it perform?"
                }
            ]
        }
    ],
    "categoryAttribute": "",
    "categorySelector": "h1.product_name",
    "expandReactions": "both",
    "questions": [
        {
            "answers": "Love the quality; Solid community; Powerful style; Fierce as f*ck",
            "id": "3064ff96-189d-11e6-816d-02420a44060e",
            "sharedReactions": true,
            "text": "Best thing?"
        }
    ],
    "title": "Fighter Feedback"
}
-->

{% block page_content %}
    <section class="content" data-groupId="{{ group.id }}">
        <div class="admin-header">
            <h1>Q &amp; A</h1>
            <div class="fixed-button-container">
            <div class="formFeedback" data-saved="{{saved}}">
            <span style="display: none;" class="error">Oops, there were some errors with the form, please see the sections highlighted red above.</span>
            <span style="display: none;" class="success" >Changes saved</span>
            </div>
            <button class="btn flat">Save Changes</button>
            </div>
        </div>

        <div class="admin-content">
        <div class="form-fields">
        <div class="col s12 m5">
              <form action="#">
                <p>
                  <input type="checkbox" class="question-text" id="questionCheckBox" value="{{ question.sharedReactions }}"/>
                  <label for="questionCheckBox"><span class="labelTitle">Show Add a Question?</span></label>
                </p>
              </form>
          <!-- <div class="allQuestions"> -->


            <section class="questionSelector">
              <h3>Questions</h3>
            <label for="id">
            <div class="questionSelector"><span class="labelTitle">Questions Selector: (CSS Selector)</span>
              <p>Defines sections where the questions will be placed, whether it is before or after a certain element.</p>
            </label>
            <input id="autoQuestionsSelector" type="text" value="{{ question_config.autoQuestionsSelector }}">
            </div>


            <div class="formRow">
                      <label for="id_summary_widget_method">
                          <span class="labelTitle">Question Insert Method</span>
                          <span>How should Antenna display the question? This maps to the jQuery function of the same name (e.g., ".before()");</span>
                      </label>
                      {{ form.summary_widget_method.as_hidden }}{{ form.summary_widget_method.errors }}
                      <select id="summary_widget_method_selector" class="browser-default">
                          <option {% if group.summary_widget_method == "append" %}selected="selected"{% endif %} value="append">:append</option>
                          <option {% if group.summary_widget_method == "prepend" %}selected="selected"{% endif %} value="prepend">:prepend</option>
                          <option {% if group.summary_widget_method == "before" %}selected="selected"{% endif %} value="before">:before</option>
                          <option {% if group.summary_widget_method == "after" %}selected="selected"{% endif %} value="after">:after</option>
                      </select>
            </div>

            <div class="formRow">
              <label for="id">
                <div class=""><span class="labelTitle">Questions:</span></div>
                  {% for question in question_config.questions %}
                <div class="question" data-id="{{ question.id }}">
                  <p>
                    What sort of questions do you want your audience to react too? Here you can write specific questions to target those reactions.
                  </p>
              </label>
                <div class="">Question Text:</div><input type="text" class="question-text" value="{{ question.text }}">
                </div>
            </div>

                <div class="formRow">
                  <div class="question" data-id="{{ question.id }}">
                      <div class="">Answers:</div><input type="text" class="question-text" value="{{ question.answers }}">
                        <button class="btn-small">Add Question</button>
                </div>
                </div>
                <div class="formRow">
                <label for="id">
                <div class="question" data-id="{{ question.id }}">
                    <div class=""><span class="labelTitle">Shared Reactions:</span><p>
                      Would you like your users to be able to create their own reactions?
                    </p></div>
                   <!-- <input type="text" class="question-text" value="{{ question.sharedReactions }}"> -->
                     <form action="#">
                      <p>
                        <input type="checkbox" class="question-text" id="checkBox" value="{{ question.sharedReactions }}"/>
                        <label for="checkBox">Yes</label>
                      </p>

                    </form>
                  </label>
                </div>
              </div>
              <label>{% endfor %}</label>
            </section>
        <!-- </div> -->
      </div>
                  <div class="rightColumn col s12 m5 offset-m1">

                    <form action="#">
                      <p>
                        <input type="checkbox" class="question-text" id="catergoryCheckBox"/>
                        <label for="catergoryCheckBox"><span class="labelTitle">Show Add a Catergory?</span></label>
                      </p>
                    </form>

                    <section class="">
                      <h3>Categories</h3>
                        <label for="id">
                        <div class=""><span class="labelTitle">Category Selector: (CSS Selector)</span></div><p>
                          Defines a section where the categories would appear on the page.
                        </p><input id="categorySelector" type="text" value="{{ question.categorySelector }}"></label>
                      <!-- </div> -->
                      <div class="formRow">
                        <label for="id"><span class="labelTitle">Add a Category:</span>
                        <input type="text" class="addCategory" name="name" value="{{ category.categorySelector }}">
                        <button class="btn-small">Add a category</button></label>
                      </div>
                      <div class="formRow">
                        <label for="categoryValue">
                      <div class="category" data-id="{{ question.id }}">
                          <div class=""><span class="labelTitle">Category value:</span></div><input type="text" class="question-text" value="{{ question.text }}">
                      </div></label>

                      </div>

                      <div class="formRow">
                        <label for="categoryQuestion">
                      <div class="category" data-id="{{ question.id }}">
                          <div class=""><span class="labelTitle">Question:</span></div><input type="text" class="question-text" value="{{ question.text }}">
                          <p>
                            Add a question to a specific category
                          </p>
                          <button class="btn-small">Add Question</button>
                      </div></label>

                      </div>

                    </section>


                    </div>


                  </div>
                </div>


    </section>


{% endblock page_content %}

    {% block afterWideContent %}
    {% endblock %}

{% block page_js %}
<script>
      $(function() {
          $('.content').on('click', 'button', submitChanges);
          function loadQuestionConfig() {
              var question_config = {};
              question_config.autoQuestionsSelector = $('#autoQuestionsSelector').val();
              question_config.questions = [];
              var questionElements = $('.question');
              for (var i = 0; i < questionElements.length; i++) {
                  var questionElement = $(questionElements[i]);
                  var question = {};
                  question.id = questionElement.data('id');
                  question.text = questionElement.find('.question-text').val();
                  // question.text = questionElement.find('.answer-text').val();
                  question_config.questions.push(question);
              }
              return question_config;
          }

          function submitChanges() {
              var questions = loadQuestionConfig();
              console.log('Pretending to submit: ');
              console.log(JSON.stringify(questions, null, 4));
//                $.ajax({
//                    url: "/api/questionConfig/"+$('.content').data('groupId')+"/",
//                    type: "put",
//                    // contentType: "application/json",
//                    // dataType: "jsonp",
//                    data: { json: JSON.stringify(questions) },
//                    success: function(response) {
//                    },
//                    error: function(response) {
//                        console.log(response);
//                    }
//                });
          }
      });
  </script>

{% endblock %}

<!-- //     $(function() {
//         $('.content').on('click', 'button', submitChanges);
//         function loadCategoryConfig() {
//             var Category_config = {};
//             question_config.autoQuestionsSelector = $('#autoCategorySelector').val();
//             category_config.category = [];
//             var CategoryElements = $('.Category');
//             for (var i = 0; i < categoryElements.length; i++) {
//                 var categoryElement = $(questionElements[i]);
//                 var category = {};
//                 category.id = categoryElement.data('id');
//                 category.text = categoryElement.find('.category-text').val();
//                 category_config.category.push(category);
//             }
//             return category_config;
// } -->
